.containerForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 8px;
}

.input {
  width: 100%;
}
.closeForm {
  display: flex;
  justify-content: end;
  min-width: 350px;
}
.errorMessagesRed {
  color: red;
}

.errorMessagesRedWhite {
  color: white;
}
