.tableroKanban {
  color: #fff !important;
  display: flex;
  gap: 8px;
  justify-content: space-around;
  padding: 15px 0;
  min-height: 350px;
}
.columnKanba {
  background-color: #202124;
  border-radius: 30px;
  padding: 15px;
  width: 100%;
}
.contentTask {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}
