h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background-color: #f85b1a;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  padding: 5px 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
